
.header{
    z-index: 888;
    position: fixed;
    top: 3rem;
    left: 5rem;
    width: calc(100vw - 10rem);
    height: 4rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px dashed #333;
}

.logo{
    font-size: 1.3rem;
    letter-spacing: 0.5px;

}


.mainMenu{
    
    ul {
        display: flex;
    }

    ul li{
       &:not(:last-child){
        margin-right: 1.5rem;
       }
        text-transform: capitalize;
    }

}
