@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@300;400;500;600&display=swap');

//フォント
$noto-sans: 'Noto Sans JP', sans-serif;
$noto-serif: 'Noto Serif JP', serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//カラー
$orange: #EB5A47;
$black: #333;
$bg-color: #E7E5DD;

//マージン
$section-gap: 20vh;

//ボーダー
$basic-border: 1px solid #1d1d1d;
$border-memo: 1px solid #ccc;